{%extends 'base.html'%}

{%block head%}
{%endblock%}

{%block body%}
    <div class="grid text-center" style="--bs-rows: 3; --bs-columns: 3;">
        <div class="container mt-4">
          <h1>Contato</h1>
          <p>Olá Seja Bem vindo!</p>
          <p>Estou em constante evolução e será um prazer ter seus comentários e colaborações!</p>
            <hr>
            <a href="https://github.com/NatanaelBalbino/SiteComunidade" target=”_blank”>
                <p>Repositório Público do Git</p>
            </a>
            <br>
            <br>
        </div>
    </div>
        <div class="container mt-4">
            <h3>Oque Pretendo com esse Projeto?</h3>
            <br>
            <p>
                Sou QA a 4 Anos e no momento estou entrando no mundo da Automação de Testes.
                Me vi em uma situação onde não era possível desenvolver as automações dentro da empresa,
                por óbvio por ter outras demandas, sendo assim meu primeiro pensamento foi fazer um curso que me ensinasse a fazer sites
                mais complexos que somente um login form ou algo do tipo.
            </p>
            <p>
                Aprendi no curso do PTQS como automatizar em Java + Selenium. Como o Julio muito comenta no curso
                eram todas formas teóricas e desejadas de que desse certo, mas eu queria ir além, gostaria de subir
                um produto em produção e fazer o tão infame CI/CD para ter experiência com isso.
            </p>
            <p>
                Nesse meio tempo Terminei o Curso PTQS cmo grande orgulho e iniciei o Curso de Python Impressionador.
                Ideias começaram a aparecer em minha mente e decide por levantar um produto que tenha uso local no meu
                bairro e cidade.
                Sou de São Paulo então imagine comentir tecnologicamente com isso!
                Não me deixei abater sai a procura e conversei com colegas, amigos e "estranhos" e descobri a possibilidade
                de usar os meus conhecimentos para desenvolver algo e colocar isso em prática.
            </p>
            <p>
                Aqui podemos dizer que isso fará parte da minha aposentadoria (espero!) e também da minha gama de conhecimento
                enquanto QA para ajudar diretamente os Devs em outras empresas.
                Os QAs do Brasil e do mundo aforam já estão demorando em sua maioria de trabalhar com a qualidade do produto.
                Testar é importante e crucial, porém a qualidade antes, durante e na entrega de um projeto faz o termo QA
                fazer sentido!
            </p>
            <p>
                Então esse site receberá constantes mudanças e evoluções para que eu tenha a tão aumejada experiência
                de 60 anos com 28 anos de idade.
            </p>
            <br>
            <br>
            <div class="grid text-center" style="--bs-rows: 3; --bs-columns: 3;">
                <div class="container mt-4">
                    <p>
                        Assinado: <br>
                        Natanael Balbino <br>
                        <a href="https://github.com/NatanaelBalbino/" target=”_blank”>Linkedin</a> | <a href="https://www.linkedin.com/in/nmmagalhaesbalbino/" target=”_blank”>GitHub</a> | <a href="mailto:natanael.m.m.balbino@gmail.com" target=”_blank”>Email</a>
                    </p>
                </div>
            </div>
        </div>

{%endblock%}