{%extends 'base.html'%}

{%block head%}
{%endblock%}

{%block body%}
        <div class="container mt-4">
            <div class="row border p-4 mt-4">
                <div class="col-3">
                    <div class="image pe-2">
                        <img src="{{ url_for('static', filename='fotos_perfil/{}'.format(post.autor.foto_perfil)) }}" class="rounded" width="200" >
                    </div>
                </div>
                <div class="col-9">
                    <h3>{{ post.titulo }}
                    <small class="text-muted" style="font-size: 15px">
                        - {{ post.data_criacao.strftime('%d/%m/%Y') }}
                        {% if current_user == post.autor %}
                        - <a href="#form_editar_post">Editar</a>
                        | <a href="#" class="text-danger" data-bs-toggle="modal" data-bs-target="#modal_excluir">Excluir</a>
                        {% endif %}
                    </small>
                    </h3>
                    <div class="row">
                        <div class="col-md-12">
                            <h5 class="d-inline-block">Por: {{ post.autor.username }} </h5>
                            <h6 class="d-inline-block">
                                | Cursos:
                                {% for curso in post.autor.cursos.split(';') %}
                                    <span class="badge text-bg-secondary">{{ curso }}</span>
                                {% endfor %}
                            </h6>
                            <hr>
                            <p>{{ post.corpo }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


{% if form %}
        <div class="container">
            <div class="row">
                <div class="col" style="--bs-rows: 3; --bs-columns: 3;">
                    <form method="POST" id="form_editar_post" action="" class="border p-4 mt-4">
                        {{ form.csrf_token }}
                        <legend>Editar Post</legend>
                        <fieldset>
                            <div class="form-group">
                                {{ form.titulo.label(class="form-control-label") }}
                                    {% if form.titulo.errors %}
                                        {{ form.titulo(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for erro in form.titulo.errors %}
                                            {{ erro }}
                                        {% endfor %}
                                    </div>
                                    {% else %}
                                        {{ form.titulo(class="form-control") }}
                                    {% endif%}
                            </div>
                            <br>
                            <div class="form-group">
                                {{ form.corpo.label(class="form-control-label") }}
                                    {% if form.corpo.errors %}
                                        {{ form.corpo(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for erro in form.corpo.errors %}
                                            {{ erro }}
                                        {% endfor %}
                                    </div>
                                    {% else %}
                                        {{ form.corpo(class="form-control") }}
                                    {% endif%}
                            </div>
                            <br>
                        </fieldset>
                        {{ form.botao_submit_criarpost(class="btn btn-primary mt-2") }}
                    </form>
                </div>
            </div>
        </div>

{% endif %}

<!-- Modal -->
<div class="modal fade" id="modal_excluir" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Excluir Post?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Realmente deseja Excluir o Post?
                   <br>
                   <br>
                <p class="text-danger">A Ação é irreverssível!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <form method="POST" action="{{ url_for('excluir_post', post_id=post.id) }}">
                    <button type="submit" class="btn btn-danger">Excluir</button>
                </form>
            </div>
        </div>
    </div>
</div>

{%endblock%}